<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Authorisation</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/authorisation.css">

</head>
<body>
	<div class="container">
		<div class="main mainSmall">
			<div id="closeButtonOuther">
				<img id="closeButton" src="../../static/images/Rectangle59.png" alt="" onclick="closes()">
			</div>
			<img id="logo" src="../../static/images/МiKupon.png" alt="">
			<p class="title">- Вход -</p>
			<input id="mailInput" type="text" required autofocus placeholder="Введите почту">
			<input id="passInput" type="text" required placeholder="Введите пароль">

			<p class="allText forgPassLinkContainer">
				<a id="forgPassLink" href="forgPasswordPage.html">Забыли пароль?</a>
			</p>

			<button class="enterButton" type="button">Войти</button>

			<p class="allText text2">или войти через соцсети:</p>

			<div class="flex icons">
				<img src="../../static/images/vkIcon.png" alt="">
				<img src="../../static/images/ondoklassnikiIcon.png" alt="">
				<img src="../../static/images/fbIcon.png" alt="">
			</div>

				<p class="allText">Не зарегистрированы?</p>
				<p class="allText registrationLinkCont">
					<a id="registrationLink" href="registration.html">Регистрация</a>
				</p>
			
		</div>
	</div>






</body>
</html>