<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ForgPass</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/authorisation.css">

</head>
<body>
	<div class="container">
		<div class="main mainSmall">
			<div id="closeButtonOuther">
				<img id="closeButton" src="../../static/images/Rectangle59.png" alt="" onclick="closes()">
			</div>
			<img id="logo" src="../../static/images/МiKupon.png" alt="">
			<p class="title">- Забыли пароль -</p>
			<p class="allText textPass">Введите почту и мы отправим вам новый пароль <br>(не забудьте проверить папку спам)</p>
			<input id="mailInput" class="forgPassMailInput" type="text" required autofocus placeholder="Введите почту">

				
			<button id="sendMailButton" type="button">Отправить</button>
				
			<p class="allText"><a href="authorisation.html" class="iRememberedPasswLink">Я вспомнил пароль!</a></p>
		</div>
	</div>






</body>
</html>